<h1>Courses Index Page</h1>
<%= link_to "Create Course", new_course_path %>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Day or Night</th>
    </tr>
  </thead>
  <tbody>
    <% @courses.each do |course| %>
    <tr>
      <td><%= link_to course.title, course_path(course) %></td>
      <td> <%= course.day ? "Day"  : "Night" %></td>
      <td> <%= link_to 'Delete Course', course, method: :delete, data: {confirm: 'Are you sure?'} %>
    </tr>
  </tbody>
  <% end %>
</table>
